.mbfw-total-listing-single-page__wrapper {
  content: "";
  clear: both;
  display: table;
}

.mbfw-total-listing-single-page {
  float: left;
}

li#wp-admin-bar-mwb-mbfw-custom-admin-menu-bookings .mwb-mbfw-booking-count {
  font-weight: 700 !important;
  background: #d63638;
  display: inline-block;
  border-radius: 50%;
  padding: 4px 7px;
  margin-left: 4px;
  line-height: normal;
}

.daterangepicker .drp-calendar {
  max-width: unset !important;
}
