/* Create Color variables here
 * follow this link for Color name
 * https://chir.ag/projects/name-that-color/
 * and use $c prefix.
 * use lowercase for color code and variable name 
 * i.e $c-black: #000000; */
 
 $c-biscay: 	   	#163062;
 $c-black:           #000000;
 $c-doger-blue:      #2196f3;
 $c-outer-space:     #1d201f;
 $c-silver:          #c7c7c7;
 $c-white:           #ffffff;
 $c-wild-sand:       #f4f4f4;
 $c-nandor:          #565857;
 $c-gunsmoke:        #8e908f;
 $c-gallery:         #EFEFEF;
 $c-turquoise:       #23e1cf;
 $c-alto:            #dddddd;
 $c-pomegranate:     #f32121;
 $c-my-sin:          #fdb51a;
 $c-robins-egg-blue: #03dac5;