node_modules
node_modules/*
vendor
vendor/*
.history
docs/
pull_requests/
script/
# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.codex

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
