.mwb-mbfw-cart-page-data {
  width: 100%;
}

.mwb-mbfw-cart-page-data input[type=number] {
  text-align: center;
}

.mwb-mbfw-cart-page-data input:focus {
  outline: none;
}

.mbfw-date-picker-section__wrapper {
  margin-bottom: 20px;
}

.mbfw-date-picker-section {
  flex: 0 0 100%;
  max-width: 150px;
}

.mbfw-date-picker-section input {
  width: 100%;
  text-align: center;
}

.mbfw-date-picker-section input::-moz-placeholder {
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.mbfw-date-picker-section input:-ms-input-placeholder {
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.mbfw-date-picker-section input::placeholder {
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.mbfw-date-picker-section label {
  display: block;
}

.mwb_mbfw_included_service_title {
  margin: 10px 0;
  font-weight: 600;
}

.mwb_mbfw_detail-listing-wrap {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.mbfw-additionl-detail-listing-section__wrapper {
  margin-bottom: 12px;
}

.mbfw-additionl-detail-listing-section {
  flex: 0 0 100%;
  max-width: 33%;
  display: flex;
  align-items: center;
}

.mbfw-additionl-detail-listing-section input[type=number] {
  width: 100px !important;
  max-width: 100% !important;
}

.mwb_mbfw_detail-listing-wrap .mbfw-additionl-detail-listing-section .mwb-mbfw-additional-service-quantity {
  display: block;
  margin-left: auto;
}

.mbfw-total-listing-single-page__wrapper {
  align-items: center;
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 7px;
}

.mbfw-calendar-section__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.mbfw-calendar-section {
  flex: 0 0 100%;
  max-width: 45%;
}

.mbfw-calendar-section input {
  width: 100%;
}

.summary-container input {
  padding: 5px;
}

.mbfw-additionl-detail-listing-section input[type=checkbox] {
  margin-right: 5px !important;
}

.mbfw-additionl-detail-listing-section span {
  text-transform: capitalize;
}

.bfwp-people-options__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bfwp-people-options__wrapper .bfwp-people-type {
  flex: 0 0 100%;
  max-width: 50%;
  text-transform: capitalize;
}

.bfwp-people-options__wrapper .bfwp-people-number {
  flex: 0 0 100%;
  max-width: 50%;
  text-align: right;
}

.bfwp-people-number input {
  width: 100px !important;
  max-width: 100% !important;
}

.mbfw-total-cost__wrapper {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  margin-top: 15px;
}

.mbfw-total-cost__wrapper .mbfw-total-listing-single-page {
  font-weight: 600;
}

.mwb_bfwp_booking_policy {
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}

.mwb-mbfw-user-booking-meta-data-listing th {
  font-weight: 700 !important;
  text-align: left !important;
}

.mwb-mbfw-user-booking-meta-data-listing td {
  text-align: left !important;
}

/* Theme compatibility css */
/* For betheme */
.entry-summary .mwb-mbfw-cart-page-data input {
  margin-bottom: 0;
  margin: 0;
  display: inline;
}

.entry-summary .mwb-mbfw-cart-page-data .bfwp-people-title {
  margin: 10px 0;
}

/* For Divi */
.theme-Divi .mwb-mbfw-cart-page-data input:not([type=checkbox]) {
  padding: .7em;
  border: 1px solid #ddd;
  color: #666;
  font-size: 14px;
  line-height: normal !important;
}

.mwb-mbfw-ser-booking-toggler {
  display: block;
  height: 12px;
  width: 12px;
  border-width: 0 2px 2px 0;
  border-color: inherit;
  border-style: solid;
  transform: rotate(45deg);
  margin: 30px;
}

.mwb-mbfw-ser-booking-toggler:hover {
  cursor: pointer;
}

.mwb-mbfw-ser-booking-toggler.booking-toggler-reverse {
  transform: rotate(-135deg);
}

.mwb-bfwp-reschedule-user-booking-link__wrapper a {
  color: inherit;
  font-weight: 600;
}

.mwb-bfwp-reschedule-user-booking-link__wrapper a:focus, .mwb-bfwp-reschedule-user-booking-link__wrapper a:hover {
  outline: none;
  text-decoration: none !important;
}

.mbfw-date-picker-section__wrapper {
  display: flex;
  gap: 18px;
}

td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions a {
  margin: 2px;
}

@media only screen and (max-width: 400px) {
  .mbfw-date-picker-section__wrapper {
    gap: 5px;
  }
  .mbfw-date-picker-section {
    max-width: 130px;
  }
}
