/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 *{
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
  
}
*:focus {
    outline: none!important;
    box-shadow: none;
} 
input:not(input[type=checkbox],input[type=radio]) {
    border: 1px solid #e2e2e2;
    padding:10px!important;
}

.mwb_booking_checkout_form {
    display: flex;
    flex-direction: column;
}

.product-type-mwb_booking h1 {
    text-transform: capitalize;
}

.mwb-wc-bk-form-section {
    margin-bottom: 10px;
}

#mwb-wc-bk-date-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#mwb-wc-bk-start-date-field,
#mwb-wc-bk-end-date-field {
    flex: 0 0 100%;
    max-width: 50%;
    padding-right: 10px;
   
}

#mwb-wc-bk-people-field,#mwb-wc-bk-service-field {
    margin-bottom: 20px;
}

#mwb-wc-bk-inc-service-field {
    margin-bottom: 10px;
}

#mwb-wc-bk-people-input-div.mwb-bk-input-div {
    display: flex;
  flex-direction: column;
}
.mwb-bk-input-div #mwb-wc-bk-people-input {
    max-width: 180px;
    width: 100%;
}
#mwb-wc-bk-people-field {
    display: flex;
    justify-content: space-between;
    max-width: calc(100% - 30px);
}

#mwb-wc-bk-start-date-input,
#mwb-wc-bk-end-date-input {
    max-width: 180px;
    width: 100%;
 
}

.booking-service-desc {
    position: absolute;
    left: -50%;
    background: #333333;
    padding: 10px 20px;
    width: 100%;
    max-width: 196px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    clip-path: polygon(0 0, 91% 0, 91% 28%, 97% 50%, 91% 75%, 91% 100%, 0% 100%);
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
}

.booking-service-desc_extend  {
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.5s ease all;
    opacity: 1;
} 

#mwb-wc-bk-people-field ul,#mwb-wc-bk-inc-service-field ul,#mwb-wc-bk-add-service-field ul {
    list-style: none;
    margin: 0;
    padding:0!important;
}

.mwb-wc-bk-people-type-list label,.mwb-wc-bk-people-type-list input {
    flex: 0 0 100%;
    max-width: calc(50% - 10px);
}

.mwb-wc-bk-form-section {
    margin-bottom: 10px;
 
}

.mwb_bk_ppl {
    margin: 0 20px;
}

.mwb-wc-bk-people-type-list li{   
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    flex-wrap: wrap;
} 

#mwb-wc-bk-add-service-list input[type=checkbox]{
    max-width: 24px;
    width: 100%;
}

#mwb-wc-bk-inc-service-list li,#mwb-wc-bk-add-service-list li {
    align-items: baseline;
    display:flex;
    flex-wrap: wrap;
    position: relative;
   
}

#mwb-wc-bk-inc-service-list li .booking-service-price ,#mwb-wc-bk-add-service-list li .booking-service-price {
    max-width: 15%;
    width: 100%;
    flex: 0 0 100%;
}

#mwb-wc-bk-inc-service-list li label,#mwb-wc-bk-add-service-list li label {
    flex: 0 0 100%;
    max-width: 30%;
    width: 100%;
}
#mwb-wc-bk-inc-service-list li label {
    max-width: 32%;
}
#mwb-wc-bk-add-service-list li label {
    max-width: 25%;
}

#mwb-wc-bk-inc-service-list li input,#mwb-wc-bk-add-service-list li input[type=number] {
    flex: 0 0 100%;
    max-width: 45%;
    width: 100%;
}

#mwb-wc-bk-total-fields ul {
    margin: 0;
    padding: 0;
   
}
#mwb-wc-bk-total-fields ul li:last-child{
    border-top: 1px solid #e2e2e2;
}

#mwb-wc-bk-total-fields li {
    display: flex;
    justify-content: space-between;
    width: 100%;
   padding-right: 40px;
  
}
#mwb-wc-bk-total-fields li label {
    max-width: 150px;
    width: 100%;
}
#mwb-wc-bk-add-service-list li {
    margin-bottom: 10px;
}

#mwb-wc-bk-time-section {
    flex: 0 0 100%;
    max-width: 50%;
}

#mwb-wc-bk-time-section #mwb-wc-bk-time-slot-field label  {
    display: block;
}

.mwb-wc-bk-people-type-list input[type=number] {
    max-width: 50%;
    flex: 0 0 100%;
}

@media only screen and (max-width:768px) {
        #mwb-wc-bk-start-date-field, #mwb-wc-bk-end-date-field {
        max-width: 30%;
    }
        .mwb-wc-bk-people-type-list label, .mwb-wc-bk-people-type-list input {
        max-width: 30%;
    }
        .booking-service-desc {
        top:-33px;
        left:5px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 62% 85%, 56% 99%, 49% 85%, 0% 85%);
    }
}
