/* Overview page css */

.mwb-overview__wrapper {
    width: calc(100% - 20px);

    .mwb-overview__banner {
        background-color: $c-white;
        margin: 10px 0 25px;
        overflow: hidden;
        padding: 10px;

        img {
            width: 100%;
        }
    }

    .mwb-overview__content {
        .mwb-overview__content-description {
            background-color: $c-white;
            margin-bottom: $fs-xlarge;
            padding: 25px 0;
            text-align: left;

            h2 {
                color: $c-biscay;
                font-size: $fs-xlarge;
                font-weight: 600;
                letter-spacing: 0.5px;
                line-height: 150%;
                margin: 10px 0px;
                text-align: left;
            }
            p {
                color: $c-nandor;
                font-size: $fs-normal;
                letter-spacing: 0.5px;
            }
            h3 {
                color: $c-biscay;
                font-size: $fs-medium;
                font-weight: 600;
                letter-spacing: 0.3px;
                margin-bottom: 15px;
                margin-top: 25px;
            }
            .mwb-overview__features {
                list-style: none;

                li {
                    color: $c-nandor;
                    font-size: $fs-normal;
                    letter-spacing: 0.5px;
                    line-height: 24px;

                    &:before {
                        color: #1a3365;
                        content: "⚬";
                        font-size: $fs-xmedium;
                        font-weight: 400;
                        vertical-align: middle;
                    }
                }
            }
        }
        h2 {
            color: $c-biscay;
            font-size: $fs-xlarge;
            font-weight: 600;
            font-weight: 600;
            letter-spacing: 0.5px;
            line-height: 150%;
            margin: 10px 0px;
            text-align: left;
        }
        .mwb-overview__keywords {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;

            .mwb-overview__keywords-item {
                display: flex;
                flex-wrap: wrap;
                flex: 0 0 33.33%;
                margin-bottom: $fs-xmedium;
                max-width: 33.33%;
                padding: 0 15px;

                @include media(mwb-tablet) { 
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                @include media(mwb-phone) { 
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                
                .mwb-overview__keywords-card {
                    background-color: $c-white;
                    border-radius: 10px;
                    border: 1px solid $c-alto;
                    box-shadow: 0px 4px 10px #efefef;
                    color: $c-white;
                    flex-grow: 1;
                    padding: $fs-xlarge;

                    .mwb-overview__keywords-image {
                        overflow: hidden;

                        img {
                            max-width: 80px;
                            object-fit: cover;
                            width: auto;
                        }
                    }
                    .mwb-overview__keywords-text {
                        .mwb-overview__keywords-heading {
                            color: $c-biscay;
                            font-size: $fs-large;
                            font-weight: 600;
                            letter-spacing: 0.3px;
                            line-height: 38px;
                            margin: 15px 0;
                        }
                        .mwb-overview__keywords-description {
                            color: $c-nandor;
                            font-size: $fs-normal;
                            letter-spacing: 0.5px;
                        }
                    }
                }
            } 
        }
    }
}

/* overview page css ends */


