/* Enter Button Global CSS Here */

%mwb-btn {
    border-radius: 30px;
    border: 1px solid $c-doger-blue;
    color: $c-white;
    cursor: pointer;
    display: inline-block;
    font-family: $ff-nunitosans-r;
    font-size: $fs-xm-small;
    font-weight: 400;
    min-width: 140px;
    outline: 0;
    padding: 16px 32px;
    text-align: center;
    text-transform: capitalize;

    &:hover,
    &:active,
    &:focus {
        color: $c-white;
    }
}

%mwb-btn__filled {
    background-color: $c-doger-blue;
}