/* Mixins */
@mixin media($size) {
	@if $size == wps-sm-phone {
		@media (max-width: 400px) { @content; }
	} 
	@else if $size == wps-phone {
		@media (max-width: 768px) { @content; }
	} 

	@else if $size == wps-tablet {
		@media (max-width: 992px) { @content; }
	} 

	@else if $size == wps-desktop {
		@media (max-width: 1100px) { @content; }
	} 
}
