@import 
    'base/base',
    'components/components',
    'layout/layout',
    'pages/page';

    .wps-form-group {
        .wps-form-group__label {
            @include media (wps-sm-phone)  {
                margin-bottom: 12px;
            }
        }
        .wps-form-group__control {
            @include media (wps-sm-phone)  {
                max-width: 100%;
            }
        }
    }

.wps-section {
    font-family: "NunitoSans-Regular";
}