@import 
    'base/base',
    'components/components',
    'layout/layout',
    'pages/page',
    'pages/update';
    .mwb-form-group {
        .mwb-form-group__label {
            @include media (mwb-sm-phone)  {
                margin-bottom: 12px;
            }
        }
        .mwb-form-group__control {
            @include media (mwb-sm-phone)  {
                max-width: 100%;
            }
        }
    }

.mwb-section {
    font-family: "NunitoSans-Regular";
}

#screen-options-link-wrap {
    display: none;
}
.mbfw-admin-suggestion-text{
    font-size: 18px;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    color: #000000;
    font-family: $ff-nunitosans-b
}