@charset "UTF-8";
/* Create Color variables here
 * follow this link for Color name
 * https://chir.ag/projects/name-that-color/
 * and use $c prefix.
 * use lowercase for color code and variable name 
 * i.e $c-black: #000000; */
/* Create Typo variables here
 * use $ff prefix for font family
 * use $fs for font size
 i.e $ff-roboto-b: Roboto-bold;
 * $fs-large: 40px; */
/*==========================================================
=            Typography Variable and Declaration            =
============================================================*/
@font-face {
  font-family: 'NunitoSans-ExtraBold';
  src: url("../fonts/nunito-sans/NunitoSans-ExtraBold.ttf");
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans-SemiBold';
  src: url("../fonts/nunito-sans/NunitoSans-SemiBold.ttf");
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans-Bold';
  src: url("../fonts/nunito-sans/NunitoSans-Bold.ttf");
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans-Regular';
  src: url("../fonts/nunito-sans/NunitoSans-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

/*----------  Font Family Variable  ----------*/
/*----------  Font Size Variable  ----------*/
/*=====  End of Typography Variable and Declaration  ======*/
/* Placeholders */
/* Mixins */
/* SCSS Functions */
/* Enter Your Global CSS here */
:root {
  --mdc-theme-primary: #2196f3;
  --mdc-theme-secondary: #2196f3;
}

.makewebbetter_page_mwb_bookings_for_woocommerce_menu #sswpbody-content {
  font-family: "NunitoSans-Regular", sans-serif;
  margin: 0;
}

body {
  background-color: #e5f4fe;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:focus {
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type="checkbox"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="radio"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
  box-shadow: none !important;
}

select,
option {
  color: rgba(0, 0, 0, 0.7) !important;
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.38) !important;
}

select {
  padding: 10px 30px 10px 15px !important;
}

.mwb-link:focus {
  outline: none;
  border: none;
}

.mwb-info-img {
  display: inline-block;
  margin-right: 6px;
  margin-top: -3px;
  max-width: 15px;
}

.mwb-link {
  font-family: "NunitoSans-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #000000;
  display: inline-block;
  transition: 0.3s ease;
}

.mwb-link:hover {
  color: #2196f3 !important;
}

.mwb-link.active {
  position: relative;
  color: #2196f3 !important;
}

.mwb-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid #2196f3;
  border-radius: 2px;
}

.mwb-bg-white {
  background-color: #ffffff;
  margin-right: 15px;
}

.mwb-r-8 {
  border-radius: 8px;
}

.mwb-pl-4 {
  padding: 0 4px !important;
}

.mwb-section {
  padding: 28px 32px;
}

.mwb-header-container {
  padding: 28px 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 8px;
  margin-right: 15px;
}

.mwb-header-container .mwb-header-title {
  font-family: "NunitoSans-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #2196f3;
  flex: 0 0 100%;
  max-width: calc(100% - 200px);
}

.mwb-form-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 35px;
}

.mwb-form-group .mwb-form-group__label {
  flex: 0 0 100%;
  max-width: 200px;
  padding: 0 15px;
}

.mwb-form-group .mwb-form-group__label .mwb-form-label {
  font-family: "NunitoSans-SemiBold";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.mwb-form-group .mwb-form-group__control {
  flex: 0 0 100%;
  max-width: calc(100% - 200px);
  padding: 0 15px;
}

.mwb-form-group .mwb-form-group__control .mwb-form-select:hover select {
  border-color: rgba(0, 0, 0, 0.87) !important;
  color: rgba(0, 0, 0, 0.87);
}

.mwb-form-group .mwb-form-group__control .mwb-form-select:focus select {
  border-color: #2196f3 !important;
}

.mwb-form-group .mwb-form-group__control .mwb-form-select .mdl-textfield__label {
  display: block;
  max-width: 450px;
  padding-right: 16px;
  padding-left: 16px;
}

.mwb-form-group .mwb-form-group__control .mdc-switch__native-control {
  width: 68px;
  height: 48px;
}

.mwb-form-group .mwb-password-hidden {
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mwb-form-group .mwb-password-hidden:hover {
  opacity: 1;
}

.select2.select2-container {
  max-width: 100%;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(63, 71, 86, 0.1);
  border-radius: 8px;
  padding: 16px;
}

.mwb-col-wrap {
  margin-bottom: 35px;
}

.mwb-options {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.mdc-button {
  border-radius: 35px !important;
  padding: 12px 24px !important;
  height: 100%;
}

.mdc-floating-label {
  color: #2196f3;
}

.mdc-floating-label--float-above,
.mdc-floating-label--shake {
  color: #2196f3 !important;
}

#mwb-mbfw-table-inner-container,
#public-hooks-listing,
#admin-hooks-listing {
  width: 100%;
}

#mwb-mbfw-table-inner-container table thead th,
#public-hooks-listing table thead th,
#admin-hooks-listing table thead th {
  font-size: 18px;
  font-family: "NunitoSans-ExtraBold";
}

/* Enter Button Global CSS Here */
.mwb-btn {
  border-radius: 30px;
  border: 1px solid #2196f3;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "NunitoSans-Regular";
  font-size: 14px;
  font-weight: 400;
  min-width: 140px;
  outline: 0;
  padding: 16px 32px;
  text-align: center;
  text-transform: capitalize;
}

.mwb-btn:hover, .mwb-btn:active, .mwb-btn:focus {
  color: #ffffff;
}

.mwb-btn__filled {
  background-color: #2196f3;
}

/* Header CSS */
/* Footer CSS */
/* Navigation CSS */
/* Sidebar CSS */
/* About page css */
/* Home Page CSS */
/* Overview page css */
.mwb-overview__wrapper {
  width: calc(100% - 20px);
}

.mwb-overview__wrapper .mwb-overview__banner {
  background-color: #ffffff;
  margin: 10px 0 25px;
  overflow: hidden;
  padding: 10px;
}

.mwb-overview__wrapper .mwb-overview__banner img {
  width: 100%;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__content-description {
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 25px 0;
  text-align: left;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__content-description h2 {
  color: #163062;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 150%;
  margin: 10px 0px;
  text-align: left;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__content-description p {
  color: #565857;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__content-description h3 {
  color: #163062;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__content-description .mwb-overview__features {
  list-style: none;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__content-description .mwb-overview__features li {
  color: #565857;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__content-description .mwb-overview__features li:before {
  color: #1a3365;
  content: "⚬";
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
  vertical-align: middle;
}

.mwb-overview__wrapper .mwb-overview__content h2 {
  color: #163062;
  font-size: 30px;
  font-weight: 600;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 150%;
  margin: 10px 0px;
  text-align: left;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__keywords {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__keywords .mwb-overview__keywords-item {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 33.33%;
  margin-bottom: 20px;
  max-width: 33.33%;
  padding: 0 15px;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__keywords .mwb-overview__keywords-item .mwb-overview__keywords-card {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 10px #efefef;
  color: #ffffff;
  flex-grow: 1;
  padding: 30px;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__keywords .mwb-overview__keywords-item .mwb-overview__keywords-card .mwb-overview__keywords-image {
  overflow: hidden;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__keywords .mwb-overview__keywords-item .mwb-overview__keywords-card .mwb-overview__keywords-image img {
  max-width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__keywords .mwb-overview__keywords-item .mwb-overview__keywords-card .mwb-overview__keywords-text .mwb-overview__keywords-heading {
  color: #163062;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 38px;
  margin: 15px 0;
}

.mwb-overview__wrapper .mwb-overview__content .mwb-overview__keywords .mwb-overview__keywords-item .mwb-overview__keywords-card .mwb-overview__keywords-text .mwb-overview__keywords-description {
  color: #565857;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* overview page css ends */
/*====================================
=            Tabs Section            =
====================================*/
.mwb-navbar {
  padding: 0 32px;
  border-bottom: 1px solid rgba(63, 71, 86, 0.25);
}

.mwb-navbar .mwb-navbar__items {
  display: flex;
  flex-wrap: wrap;
}

.mwb-navbar .mwb-navbar__items li {
  margin-right: 32px;
  margin-bottom: 0;
}

.mwb-navbar .mwb-navbar__items li a {
  padding: 18px 0;
  color: #000000;
}

/*=====   Tabs Section CSS Ends  ======*/
/*============================================
=           License Section CSS          =
=============================================*/
.mwb-mbfw-wrap {
  border-radius: 10px;
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 10px #EFEFEF;
  margin: 0 auto;
  max-width: 600px;
  padding: 10px 20px;
}

.mwb-mbfw-wrap h2 {
  color: #163062;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: .5px;
  line-height: 150%;
  margin: 10px 0;
  text-align: left;
}

.mwb-mbfw-wrap .mwb_mbfw_license_text > p {
  margin: 10px 0;
}

.mwb-mbfw-wrap .mwb_mbfw_license_text #mwb_mbfw_license_form .mwb-mbfw-form-table input#mwb_mbfw_license_key {
  width: 100%;
  transition: 0.3s ease;
  height: 50px;
  font-size: 14px;
}

.mwb-mbfw-wrap .mwb_mbfw_license_text #mwb_mbfw_license_form .mwb-mbfw-form-table input#mwb_mbfw_license_key:hover {
  border-color: #000000;
}

.mwb-mbfw-wrap .mwb_mbfw_license_text #mwb_mbfw_license_form .mwb-mbfw-form-table input#mwb_mbfw_license_key:focus {
  border-color: #2196f3;
  outline: none;
  box-shadow: none;
}

.mwb-mbfw-wrap .mwb_mbfw_license_text #mwb_mbfw_license_form #mwb_mbfw_license_activation_status {
  padding: 0 10px;
  font-weight: 600;
}

.mwb-mbfw-wrap .mwb_mbfw_license_text #mwb_mbfw_license_form button {
  background-color: #163062;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  letter-spacing: 1.5px;
  border: 1px solid #163062;
  transition: 0.5s ease;
  font-weight: 600;
}

.mwb-mbfw-wrap .mwb_mbfw_license_text #mwb_mbfw_license_form button:hover {
  color: #163062;
  background-color: #ffffff;
}

.mwb-mbfw-wrap .mwb_mbfw_license_text #mwb_mbfw_license_form button:focus {
  outline: none;
  box-shadow: none;
}

/*=====  License Section CSS ends  ======*/
/*============================================
=          DataTables CSS         =
=============================================*/
.dataTables_wrapper {
  padding: 20px 10px;
}

.dataTables_wrapper .dataTable {
  border-bottom: 1px solid rgba(33, 33, 33, 0.08) !important;
}

.dataTables_wrapper .dataTable thead {
  text-align: left;
}

.dataTables_wrapper .dataTable thead th {
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
  padding: 15px;
  font-family: "NunitoSans-SemiBold" !important;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.dataTables_wrapper .dataTable tr {
  background-color: #ffffff !important;
}

.dataTables_wrapper .dataTable tr td {
  background-color: #ffffff !important;
}

.dataTables_wrapper .mwb-dt-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dataTables_wrapper .mwb-dt-buttons .dt-buttons {
  margin: 0 10px;
}

.dataTables_wrapper .mwb-dt-buttons .dt-buttons .dt-button {
  padding: 5px 10px;
  border: 1px solid #c7c7c7;
  background-color: #ffffff;
  transition: 0.5s ease;
  border-radius: 2px;
}

.dataTables_wrapper .mwb-dt-buttons .dt-buttons .dt-button:hover {
  cursor: pointer;
  background: #EFEFEF;
}

.dataTables_wrapper .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 10px 0;
}

.dataTables_wrapper .bottom .dataTables_length {
  font-family: "NunitoSans-SemiBold";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin-right: 14px;
}

.dataTables_wrapper .bottom .dataTables_length select {
  margin: 0 25px;
  min-width: 90px;
  padding: 5px 30px 5px 15px !important;
}

.dataTables_wrapper .bottom .dataTables_info {
  font-family: "NunitoSans-SemiBold";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin-right: 5px;
}

.dataTables_wrapper .bottom .dataTables_paginate {
  padding: 0;
}

.dataTables_wrapper .bottom .dataTables_paginate span .paginate_button {
  display: none !important;
}

.dataTables_wrapper .bottom .dataTables_paginate .paginate_button {
  display: inline-block;
}

.dataTables_wrapper .bottom .dataTables_paginate .paginate_button:hover {
  background: #f4f4f4 !important;
  cursor: pointer !important;
}

/*=====  End of DataTables  ======*/
/* Updates changes v3.0.0_alpha */
.mwb_bfw_config_tab {
  margin: 0;
}

.mwb_bfw_config_tab h3 .mwb-bfw-nav-tab {
  background-color: transparent;
  border: none;
  float: unset;
  display: inline-block;
  color: #000;
  font-size: 14px;
  font-family: "NunitoSans-Bold";
  line-height: 24px;
  letter-spacing: 0.3px;
  padding: 15px 20px 15px 0;
  margin: 0;
}

.mwb_bfw_config_tab h3 .mwb-bfw-nav-tab:hover {
  background-color: transparent;
  border: none;
  color: #2196f3;
}

.mwb_bfw_config_tab h3 .mwb-bfw-nav-tab.nav-tab-active {
  color: #2196f3;
  position: relative;
}

.mwb_bfw_config_tab h3 .mwb-bfw-nav-tab.nav-tab-active:after {
  position: absolute;
  content: "";
  left: 0;
  right: 20px;
  bottom: 0;
  background-color: #2196f3;
  height: 3px;
}

.mwb_bfw_config_tab .mwb-form-group .mwb-form-group__control input.bfwp_availability_page_calendar {
  border-radius: 5px;
  min-height: 32px;
  padding: 8px 16px;
}

.mwb_bfw_config_tab .mwb-form-group .mwb-form-group__control label.mdl-textfield__label {
  padding: 0;
  margin-top: 5px;
}

.mwb_bfw_config_tab .mwb-form-group .mdc-text-field-helper-line {
  padding: 0;
  margin-top: 5px;
}

.mwb_bfw_config_tab .wps-bfwp__integration-wrap {
  display: flex;
  flex-wrap: wrap;
}

.mwb_bfw_config_tab .wps-bfwp__integration-wrap .mwb_wps_integration_setting_wrapper {
  padding: 15px;
  margin: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex: 1 0 calc(50% - 40px);
}

.mwb_bfw_config_tab .wps-bfwp__integration-wrap .mwb_wps_integration_setting_wrapper .mwb-form-group {
  margin-bottom: 20px;
}

.mwb_bfw_config_tab .wps-bfwp__integration-wrap > .mwb-form-group {
  flex: 1;
  text-align: center;
  margin: 20px 0;
}

.mwb_bfw_config_tab .wps-bfwp__integration-wrap > .mwb-form-group .mwb-form-group__label {
  display: none;
}

.mwb_bfw_config_tab .wps-bfwp__integration-wrap > .mwb-form-group .mwb-form-group__control {
  max-width: unset;
}

.mwb_bfw_config_tab .wps-bfwp__integration-wrap .mwb_bfwp_parent_divider {
  margin-bottom: 10px !important;
  padding-bottom: 0;
}

.mwb_bfw_config_tab .wps-bfwp__integration-wrap .mwb_bfwp_parent_divider:after {
  display: none;
}

.mwb-section #bulk-action-selector-top,
.mwb-section #bulk-action-selector-bottom {
  padding: 5px 24px 5px 8px !important;
  line-height: unset;
}

.mwb-section #col-left {
  background-color: #e5f4fe;
  padding: 15px;
}

.mwb-section #submit, .mwb-section .edit-tag-actions .button {
  background-color: #2196f3;
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 14px;
  font-family: "NunitoSans-Regular";
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  opacity: 0.9;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.mwb-section #submit:hover, .mwb-section .edit-tag-actions .button:hover {
  opacity: 1;
}

.mwb-section h1,
.mwb-section h2,
.mwb-section h3 {
  font-family: "NunitoSans-Bold", sans-serif;
}

.mwb-section label {
  font-family: "NunitoSans-SemiBold", sans-serif;
}

.mwb-section p {
  font-family: "NunitoSans-Regular", sans-serif;
}

.mwb-section .wps-bfw-form-field {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.mwb-section .wps-bfw-form-field label {
  padding-right: 15px;
  flex: 0 0 150px;
}

.mwb-section .wps-bfw-form-field .wps-form-field-wrap {
  flex: 1;
}

.mwb-section .wps-bfw-form-field .wps-form-field-wrap + .submit {
  text-align: center;
}

.mwb-section .wps-bfw-form-field .wps-form-field-wrap input[type="number"] + span {
  display: block;
}

.mwb-section .wps-bfw-form-field .wps-form-field-wrap input[type="checkbox"] {
  width: 35px;
  height: 15px;
  border-radius: 50px;
  background: #a7a7a7;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  position: relative;
}

.mwb-section .wps-bfw-form-field .wps-form-field-wrap input[type="checkbox"]:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 0;
  margin: 0;
  top: -2.8px;
  left: 0;
  transition: left 0.2s linear;
}

.mwb-section .wps-bfw-form-field .wps-form-field-wrap input[type="checkbox"]:checked:before {
  left: 18px;
}

.mwb-section .wps-bfw-form-field .wps-form-field-wrap input[type="checkbox"]:hover:before {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
}

.mwb-section .wps-bfw-form-field .wps-form-field-wrap input[type="checkbox"]:focus:before {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
}

.mwb-section .wps-bfw-form-field .wps-form-field-wrap input[type="checkbox"]:checked {
  background: #2196f3;
  opacity: 0.8;
}

.mwb-section .wps-bfw-form-field .wps-form-field-wrap input[type="checkbox"]:focus {
  box-shadow: none;
  outline: none;
}

.mwb-section .wps-bfw-form-field .wps-form-field-wrap span {
  padding-top: 5px;
  display: block;
}

.mwb-taxonomy-section_wrap {
  padding-top: 0;
}

.mwb-taxonomy-section_wrap #edittag input[type="checkbox"] {
  width: 35px;
  height: 15px;
  border-radius: 50px;
  background: #a7a7a7;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  position: relative;
}

.mwb-taxonomy-section_wrap #edittag input[type="checkbox"]:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 0;
  margin: 0;
  top: -2.8px;
  left: 0;
  transition: left 0.2s linear;
}

.mwb-taxonomy-section_wrap #edittag input[type="checkbox"]:checked:before {
  left: 18px;
}

.mwb-taxonomy-section_wrap #edittag input[type="checkbox"]:hover:before {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
}

.mwb-taxonomy-section_wrap #edittag input[type="checkbox"]:focus:before {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
}

.mwb-taxonomy-section_wrap #edittag input[type="checkbox"]:checked {
  background: #2196f3;
  opacity: 0.8;
}

.mwb-taxonomy-section_wrap #edittag input[type="checkbox"]:focus {
  box-shadow: none;
  outline: none;
}

.mwb-taxonomy-section_wrap .edit-tag-actions {
  display: flex;
  align-items: center;
}

.mwb-taxonomy-section_wrap .edit-tag-actions .button {
  margin: 0;
}

.mwb-taxonomy-section_wrap .edit-tag-actions #delete-link {
  margin: 0 0 0 20px;
  font-size: 16px;
}

.mbfw-admin-suggestion-svg svg {
  margin-right: 5px;
  margin-top: -2px;
}

.bfwp_booking_order_product_user_admin__wrapper {
  flex-wrap: nowrap;
  align-items: flex-start;
}

.bfwp_booking_order_product_user_admin__wrapper .mwb-booking-order_setting_wrapper label {
  display: block;
  margin: 10px 0 0;
  max-width: 575px;
}

.mwb-section {
  font-family: "NunitoSans-Regular";
}

#screen-options-link-wrap {
  display: none;
}

.mbfw-admin-suggestion-text {
  font-size: 18px;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  color: #000000;
  font-family: "NunitoSans-Bold";
}

@media (max-width: 768px){
  .mwb-header-container {
    justify-content: flex-start;
  }
  .mwb-header-container .mwb-header-title {
    max-width: 100%;
  }
  .mwb-header-container .mwb-link {
    margin-top: 15px;
  }
  .mwb-header-container span {
    margin: 15px 5px 0;
  }
  .mwb-overview__wrapper .mwb-overview__content .mwb-overview__keywords .mwb-overview__keywords-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .mwb_bfw_config_tab h3.nav-tab-wrapper {
    border-bottom: 2px solid #c3c4c7;
  }
  .mwb_bfw_config_tab .mwb-form-group {
    display: block;
  }
  .mwb_bfw_config_tab .mwb-form-group .mwb-form-group__label {
    max-width: 300px;
  }
  .mwb_bfw_config_tab .mwb-form-group .mwb-form-group__control {
    max-width: 350px;
    margin-top: 15px;
  }
  .mwb-section .search-box {
    width: auto;
    bottom: 15px;
    left: 0;
    right: 15px;
    padding: 15px;
    height: auto;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
  }
  .mwb-section .wps-bfw-form-field {
    display: block;
  }
  .bfwp_booking_order_product_user_admin__wrapper {
    flex-wrap: wrap;
  }
  .bfwp_booking_order_product_user_admin__wrapper .mwb-booking-order_setting_wrapper {
    margin-top: 20px;
  }
}

@media (max-width: 992px){
  .mwb-overview__wrapper .mwb-overview__content .mwb-overview__keywords .mwb-overview__keywords-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .mwb_bfw_config_tab .wps-bfwp__integration-wrap {
    display: block;
  }
  .mwb_bfw_config_tab .wps-bfwp__integration-wrap .mwb_wps_integration_setting_wrapper {
    flex: 1 0 calc(50% - 25px);
    margin: 15px 5px 0;
  }
  .mwb-section .wps-bfw-form-field .wps-form-field-wrap span {
    display: inline;
  }
}

@media (max-width: 400px){
  .mwb-section {
    padding: 15px;
  }
  .mwb-section .wps-bfw-form-field .wps-form-field-wrap {
    padding-top: 10px;
  }
  .mwb-form-group .mwb-form-group__label {
    margin-bottom: 12px;
  }
  .mwb-form-group .mwb-form-group__control {
    max-width: 100%;
  }
}
