/**
* All of the CSS for your admin-specific functionality should be
* included in this file.
*/


/*===================================
=            FONT-FAMILY            =
===================================*/

@font-face {
    font-family: 'NunitoSans-Black';
    src: url('../fonts/nunito/NunitoSans-Black.eot');
    src: url('../fonts/nunito/NunitoSans-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-Black.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-Black.woff') format('woff'), url('../fonts/nunito/NunitoSans-Black.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-Black.svg#NunitoSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-Italic';
    src: url('../fonts/nunito/NunitoSans-Italic.eot');
    src: url('../fonts/nunito/NunitoSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-Italic.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-Italic.woff') format('woff'), url('../fonts/nunito/NunitoSans-Italic.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-Italic.svg#NunitoSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-ExtraBold';
    src: url('../fonts/nunito/NunitoSans-ExtraBold.eot');
    src: url('../fonts/nunito/NunitoSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-ExtraBold.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-ExtraBold.woff') format('woff'), url('../fonts/nunito/NunitoSans-ExtraBold.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-ExtraBold.svg#NunitoSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('../fonts/nunito/NunitoSans-Bold.eot');
    src: url('../fonts/nunito/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-Bold.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-Bold.woff') format('woff'), url('../fonts/nunito/NunitoSans-Bold.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-Bold.svg#NunitoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('../fonts/nunito/NunitoSans-SemiBold.eot');
    src: url('../fonts/nunito/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-SemiBold.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-SemiBold.woff') format('woff'), url('../fonts/nunito/NunitoSans-SemiBold.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-SemiBold.svg#NunitoSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-Light';
    src: url('../fonts/nunito/NunitoSans-Light.eot');
    src: url('../fonts/nunito/NunitoSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-Light.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-Light.woff') format('woff'), url('../fonts/nunito/NunitoSans-Light.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-Light.svg#NunitoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('../fonts/nunito/NunitoSans-Regular.eot');
    src: url('../fonts/nunito/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-Regular.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-Regular.woff') format('woff'), url('../fonts/nunito/NunitoSans-Regular.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*=====  End of FONT-FAMILY  ======*/



/* ================================
    ******** Globals start  *******
=================================== */

body.post-type-mwb_cpt_booking .mwb-booking__nav-wrap h1,#mwb-wc-bk-booking-data h1 {
    font-family: 'NunitoSans-Bold'; 
    color: #2196f3;
    font-size: 26px;
    letter-spacing: 0.7px;
}
/* body.post-type-mwb_cpt_booking {
   font-family: 'NunitoSans-Regular';

} */

.post-type-mwb_cpt_booking a{
    outline: none;
    box-shadow: none;
    text-decoration: none;
    border: none;
}
.post-type-mwb_cpt_booking a:focus {
    outline: none;
    box-shadow: none;
}

.button-primary.mwb-btn {
    border-radius: 30px;
    background: #2196f3;
    border-color: #2196f3;
    padding: 6px 20px;
    font-size: 15px;
    transition: 0.2s linear all;
    outline: none;
    color: #ffffff;
}

.button-primary.mwb-btn:hover {
    background:#ffffff!important;
    color: #2196f3!important;
    font-weight: 400!important;
    border-color: #2196f3!important;
}

.post-type-mwb_cpt_booking input[type=radio]:checked::before {
 background-color: #2196f3;;
}

.post-type-mwb_cpt_booking input:focus {
    border-color: #2196f3!important;
    box-shadow:unset!important;
    outline:none!important;
}
.post-type-mwb_cpt_booking input[type=checkbox]+p {
    display: inline;
}

body.post-type-mwb_cpt_booking .mwb_booking_global_options_setting_table h2,#mwb-wc-bk-booking-details h2,#mwb-wc-bk-booking-status h2 ,#mwb-wc-bk-booking-data h2{
    color: #2196f3;
    font-family: 'NunitoSans-Bold';
    font-size: 20px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}
.post-type-mwb_cpt_booking input[type=radio]+label {
    margin-right: 25px;
}
.post-type-mwb_cpt_booking label {
    color: #000000;
}

/* ==============================================
    ******** Globals ends  *******
================================================= */




/* ==============================================
    ******** Admin Display CSS starts  *******
================================================== */

.mwb-booking__nav-wrap {
    background: #ffffff;
    box-shadow:0 7px 8px rgb(0 0 0 / 8%);
    padding: 20px 10px 14px 15px;
}
.mwb_booking_setting_title {
    align-items: baseline;
    display: flex;
    padding: 0 5px;
}
.mwb_booking_setting_title_version {
    color: #848484;
    margin-left: 10px;
}

.mwb-booking__nav {
    border-bottom: none;
}

.mwb-booking__nav .nav-tab {
    background: #ffffff;
    border: none;
    font-weight: 600;
    position: relative;
}
.mwb-booking__nav .nav-tab.mwb-bookings__pro {
    width: 100%;
    max-width: 150px!important;
}
.mwb-booking__nav .nav-tab.mwb-bookings__pro:before {
    padding: 2px 2px;
    right: 2px;
}

.nav-tab.nav-tab-active {
    color: #2196f3;
}

.nav-tab.nav-tab-active:after {
    background: #2196f3;
    border-radius: 12px;
    bottom: -14px;
    content: '';
    height: 3px;
    left: 2px;
    position: absolute;
    right: 2px;
    z-index:2;
}

/*===============================================
    ******** Admin Display CSS ends *******
================================================= */


/*===============================================
    ******** Settings CSS starts *******
================================================= */

.mwb-booking-settings__table {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 7px 8px rgb(0 0 0 / 8%);
    margin: 20px 20px 30px 0;
    padding: 10px 20px 40px;
}
.mwb-booking-settings__table tbody,.mwb-availability-rules__table tbody {
    display: block;
}
.mwb_booking_heading {
    padding: 0 5px;
}

.mwb-booking__heading h2 {
    border-bottom: 1px solid #e2e2e2;
    color: #2196f3;
    font-size: 20px;
    letter-spacing: 1.3px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.mwb-form-group {
    display: flex;
    flex-wrap: wrap;
}

.mwb-form-group__label {
    flex: 0 0 100%;
    max-width: 250px;
    width: unset!important;;
}

.mwb-form-group__input {
    flex: 0 0 100%;
    max-width: 500px;
}

.mwb-form-group__input input {
    border-color: #00000070;
    margin-bottom: 5px;
    padding: 8px 16px;
    transition: border-color 0.2s ease;
}
.mwb-form-group__input input[type=radio],.mwb-form-group__input input[type=checkbox] {
    margin-bottom: 0;
}
.mwb-form-group__input input:hover,.mwb_add_people_type_select input:hover {
    border-color: #000000;
}

.mwb-form-group__input input:focus,.mwb_add_people_type_select input:focus {
    border-color: #2196f3;
    box-shadow: none;
}

.mwb-booking__submit {
   padding-left: 10px;
}
#mwb_booking_added_costs_btn,
#mwb_booking_local_cost_rules_btn,
#mwb_local_availability_rules_add,
#mwb_people_type_add,
#mwb_booking_service_add {
    padding: 0 10px;
}


/*===============================================
    ******** Settings CSS ends *******
================================================= */


/*===============================================
    ******** Availability CSS starts *******
================================================= */

.mwb-availability-rules__table {
    background: #ffffff;
    border-radius: 10px;
    box-shadow:0 7px 8px rgb(0 0 0 / 8%);
    margin: 20px 20px 30px 0;
    padding: 10px 20px 40px;
    position: relative;
}

.mwb-global-availability-rule__heading h2 {
    color: #2196f3;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;

    width: 100%;
    max-width: 250px;
    justify-content: space-between;
    align-items: flex-end;
}
.mwb_booking_global_availability_rules .mwb-add-rule__icon {
    background:#2196f3;
    border-color: #2196f3!important;
    border-radius: 50%;
    color: #ffffff;
    height: 40px;
    position: fixed;
    right: 40px;
    top: 160px;
    transition: 0.3s ease all;
    width: 40px;
    animation: pulse-animation 2s infinite;
}
    @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
      
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    
    }
  }
.mwb-add-rule__icon svg {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
.mwb_booking_global_availability_rules .mwb-add-rule__icon:hover {
    background: #ffffff!important;
    border-color: #2196f3!important;
    box-shadow: unset;
    color: #2196f3!important;
    transform: scale(1.2);
}
.mwb_booking_global_availability_rules .mwb-add-rule__icon:focus {
    background: #ffffff;
    border-color: #2196f3!important;
    box-shadow: unset;
    color: #2196f3;
    outline: none;
    transform: translateZ(0.8);
}
.mwb-form-group__days  {
    justify-content: center;
}
.mwb-form-group__days .mwb-form-group__input-rules {
    color: #000000;
    flex: 0 0 100%;
    font-weight: 500;
    max-width: 100%;
}
.mwb-form-group__days .mwb-form-group__input {
    border-radius: 4px;
    border: 1px solid#e2e2e2;
    flex: 0 0 20%;
    margin-right: 12px;
    max-width: 20%;
    padding: 24px 0px;
    text-align: center;
}

.mwb-availability-rules__table .mwb-form-group__input select {
    padding: 8px 20px;
    margin-bottom: 5px;
}
.mwb_global_availability_rule_heading.mwb-global-availability-rule__heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.mwb_global_availability_rule_heading.mwb-global-availability-rule__heading .booking-availability__title,.mwb_global_availability_toggle_icon {
-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none;
 }
 .mwb_global_availability_rule_heading_switch {
     vertical-align: bottom!important;
 }
.mwb-form-group__days .mwb-form-group__input {
    border:none;
    flex: 0 0 100%;
    margin-bottom: 20px;
    max-width: 80px;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;     
}
.mwb-form-group__input .mwb_global_availability_rule_weekdays_book_button {
    border-radius: 35px;
}

.mwb-form-group__days .mwb-form-group__input p {
    font-weight: 500;
    text-transform: uppercase;
}

.mwb_global_availability_toggle_icon {
    display: inline-block;
    font-size: 45px;
    transform-box: fill-box;
    transform-origin: top;
    transition: 0.2s ease all;
}

.mwb_global_availability_toggle_icon-arrow {
    transform:rotate(180deg);
}

.mwb-availability-rules__table .mwb-delete-icon {
    background: #ffffff;
    border-color: #ffffff;
    bottom: -20px;
    box-shadow: 0 7px 8px rgb(0 0 0 / 8%);
    color: #000;
    position: absolute;
    right: 0;
    transition: 0.2s ease all;
}
.mwb-availability-rules__table .mwb-delete-icon:hover {
    background: inherit;
    border-color: #ffffff;
    box-shadow: unset;
    color: #000000;
    transform: scale(1.2);

}
.mwb_add_new_rule_text {
    text-align: center;
}
.mwb_add_new_rule_text p{
    font-size: 20px;
    font-weight: 600;
}
.mwb_add_new_rule_text span {
    height: 25px;
    width: 25px;
    background: #2196f3;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    vertical-align: middle;       
}
.mwb_add_new_rule_text span:after {
    color: '+';
    content: '+';
    position: absolute;  
    left: 50%;
    top: 50%;
    transform: translate(-52%,-54%);
    font-weight: 400;
    color: #fff;
}
/*===============================================
    ******** Availability CSS ends *******
================================================= */



/*===============================================
          **** Services CSS starts ****
================================================== */
.taxonomy-mwb_ct_services .nosubsub,
.taxonomy-mwb_ct_people_type .nosubsub, 
.taxonomy-mwb_ct_costs .nosubsub,
.post-type-mwb_cpt_booking #mwb-wc-bk-calendar{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 7px 8px rgb(0 0 0 / 8%);
    margin: 20px 20px 30px 0;
    padding: 10px 20px 40px;
}


/*===============================================
          **** Services CSS ends ****
================================================== */




/*===============================================
          **** Bookings Status CSS starts ****
================================================== */
.mwb_cpt_booking_listing_status {
    border-radius: 4px;
    display: inline-block;
    padding: 8px 16px;
}

.mwb_booking_confirmed {
    background-color: #a2e69d;
    color: #0e8a24;
}

.mwb_booking_confirmation {
    background-color: #e6cc9d;
    color: #8a5e0e;
}

.mwb_booking_expired {
    background-color: #e69d9d;
    color: #bd2222;
}
.mwb_booking_completed {
    background-color: #9ddfe6;
    color: #0e6d8a;
}

.mwb_booking_pending {
    background-color: #d2d2d2;
    color: #737373;
}

.mwb_booking_cancelled{
    background-color: #f7d5a8;
    color: #e98513;
}

.mwb_booking_refunded{
    background-color: #d2d2d2;
    color: #737373;
}


/*===============================================
          **** Bookings Status CSS ends ****
================================================== */


.ui-draggable .ui-dialog-titlebar,
#TB_ajaxWindowTitle  {
    border: none;
    box-shadow: 0 7px 8px rgb(0 0 0 / 8%);
    color: #2196f3;
    font-weight: 600;
    text-align: center;
}

#TB_ajaxWindowTitle {
    font-size: 18px;
}

#TB_title {
    border: none!important;
}

.mwb_booking_calender_details table, 
.mwb_cpt_booking_listing_view table, 
#mwb-wc-bk-booking-details table {
    border-collapse: collapse;
    width: 100%;
}

.mwb_booking_calender_details tr:nth-child(even),
.mwb_cpt_booking_listing_view tr:nth-child(even),
#mwb-wc-bk-booking-details tr:nth-child(even) {
    background: #e5eff9;
}

.mwb_booking_calender_details th,
.mwb_booking_calender_details td ,
.mwb_cpt_booking_listing_view th,
.mwb_cpt_booking_listing_view td,
#mwb-wc-bk-booking-details td,
#mwb-wc-bk-booking-details th {
    padding: 10px 20px;
    text-align: left;
}

.mwb_booking_calender_details th {
    text-align: left;
}

/* additional cost css */

.mwb-add-field__desc {
    display: inline;
}

/* additional cost css ends*/


/* Edit bookings page css */

.mwb_booking_cpt_actions .mwb_booking_cpt_submit {
    margin-top: 10px;
    text-align: center;
}




#mwb-wc-bk-booking-data .form-field.form-field-wide input[type=text] {

    max-width: 90px;
 
}
#mwb-wc-bk-booking-data .form-field.form-field-wide input[type=number] {
 
    max-width: 40px;
  
}


#mwb-wc-bk-booking-data .form-field.form-field-wide input:hover {
    border-color: #000000;
}

/* Edit bookings page css ends*/


/* Overview page css */

.booking-overview__wrapper h2,
.booking-overview__wrapper h3 {
    font-weight: 600;
}

.booking-overview__wrapper p {
    color: #565857;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.booking-overview__wrapper {
    width: calc(100% - 20px);
}

.booking-overview__banner {
    background-color: #ffffff;
    margin: 10px 0 25px;
    overflow: hidden;
    padding: 10px;
}

.booking-overview__banner>img {
    width: 100%;
}

.booking-overview__content-description {
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 25px 50px;
    text-align: left;
}

.booking-overview__content h2 {
    color: #163062;
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 150%;
    margin: 10px 0px;
    text-align: left;
}

.booking-overview__wrapper h3 {
    color: #163062;
    font-size: 18px;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.booking-overview__keywords-text h3 {
    margin: 15px 0;
}

.booking-overview__keywords-image {
    overflow: hidden;
}

.booking-overview__keywords-image img {
    object-fit: cover;
    width: 100%;
}

.booking-overview__features {
    list-style: none;
}

.booking-overview__features li::before {
    color: #2196f3;
    content: "⚬";
    font-size: 20px;
    font-weight: 400;
    vertical-align: middle;
}

.booking-overview__features li {
    color: #565857;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.booking-overview__keywords {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.booking-overview__keywords-heading {
    font-size: 64px;
    line-height: 28px;
}

.booking-overview__keywords-item {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 30%;
    margin-bottom: 20px;
    max-width: 30%;
    padding: 0 15px;
}

.booking-overview__keywords-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #efefef;
    color: #ffffff;
    flex-grow: 1;
    padding: 30px;
}

.booking-support__connect a {
    align-items: center;
    border-radius: 35px;
    border: 2px solid;
    color: #2196f3;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin: 0px auto;
    max-width: 130px;
    padding: 5px;
    text-decoration: none;
}

.booking-overview__support {
    border-top: 1px solid rgba(0, 0, 0, 0.18);
    margin-top: 50px;
    padding-top: 25px;
}

.booking-overview__help {
    background-color: #ffffff;
    border-radius: 0px 0px 0px 5px;
    box-shadow: 0px 1px 5px #6f6f6f;
    max-width: 200px;
    padding: 15px 10px;
    position: fixed;
    right: -195px;
    top: 40%;
    transition: right 0.5s ease-in-out;
}

.booking-overview__help-icon {
    background: #2196f3;
    border-radius: 6px 0 0 6px;
    color: #ffffff;
    cursor: pointer;
    font-size: 32px;
    font-weight: 800;
    height: 35px;
    left: -40px;
    line-height: 27px;
    position: absolute;
    top: 41px;
    transition: all 0.3s ease-in-out;
    width: 35px;
}

.booking-overview__help h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 2px 0px 10px;
    text-align: center;
}

.booking-overview__help-icon:hover {
    box-shadow: -2px 2px 5px #909090;
    left: -42px;
}

.booking-overview__help-icon::before {
    content: '←';
}

.booking-help__out .booking-overview__help-icon::before {
    content: '→';
}

.booking-help__out {
    right: 0;
}

.booking-overview__help a {
    align-items: center;
    border-radius: 35px;
    border: 2px solid;
    color: #2196f3;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin: 0px auto;
    max-width: 130px;
    padding: 5px;
    text-decoration: none;
}

.booking-overview__help>a>img {
    margin: 0px 10px 0 0;
    width: 25px;
}

.booking-support__list {
    display: flex;
    flex-wrap: wrap;
}

.booking-support__list-item {
    margin-right: 15px;
}

.booking-support__list-item a {
    text-decoration: none;
}

.booking-support__list-item a img {
    width: 25px;
}

.booking-help__out .booking-overview__help-icon:hover {
    left: -40px;
}

.taxonomy-mwb_ct_services .dashicons-yes:before,.taxonomy-mwb_ct_costs .dashicons-yes:before {
    color:#008000;
}
.taxonomy-mwb_ct_services .dashicons-no-alt:before,.taxonomy-mwb_ct_costs .dashicons-no-alt:before{
    color: #ff0000;
}
.booking-service-icon,.booking-cost-icon,.booking-people-icon {
      color: #2196f3;
}

/* Overview page css ends */

.switch { 
    position : relative ;
    display : inline-block;
    width : 40px;
    height : 20px;
    background-color: #eee;
    border-radius: 20px;
}

.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px; 
    left: 1px;
    transition: all 0.3s;
}

.mwb-form-group__input input:checked + .switch::after {
    left : 20px; 
}

.mwb-form-group__input input:checked + .switch {
    background-color: #7983ff;
}



.mwb-bookings__pro {
    position: relative;
    pointer-events: none;
    cursor: not-allowed;
 
}

.mwb-bookings__pro >*{
    opacity: 0.4;
}

.mwb-bookings__pro:before{
    position: absolute;
    content: 'PRO';
    color: #ffffff;
    padding: 8px 0px;
    right: 4px;
    text-align: center;
    font-size: 11px;
    transform: rotate(30deg);
    z-index: 1;
}

.mwb-bookings__pro::after {
    content: '';
    position: absolute;
    right: 0;
    background: #2196f3;
    width: 52px;
    height: 39px;
    top: 0;
    clip-path: polygon(0 0,100% 0,100% 100%);
}
#mwb_booking_cost_data.woocommerce_options_panel label,#mwb_booking_cost_data.woocommerce_options_panel legend {
    margin: 0;
}
#mwb_booking_cost_data.woocommerce_options_panel fieldset.form-field,#mwb_booking_cost_data.woocommerce_options_panel p.form-field {
    padding: 5px 20px 5px 10px!important;
}
.mwb-form-group__input input[type=checkbox],
.mwb-form-group__input-rules input[type=checkbox],
.mwb-global-availability-rule__heading input[type=checkbox] {
    border-radius: 30px;
    position: relative;
    width: 30px;

}

.mwb-form-group__input input[type=checkbox]:before,
.mwb-form-group__input-rules input[type=checkbox]:before,
.mwb-global-availability-rule__heading input[type=checkbox]:before {

   display: none;
}

.mwb-form-group__input input[type=checkbox]:checked:after,
.mwb-form-group__input-rules input[type=checkbox]:checked:after,
.mwb-global-availability-rule__heading input[type=checkbox]:checked:after {
    background:#ffffff;
    border-radius: 50%;
    box-shadow: 0 7px 8px rgb(0 0 0 / 8%);
    content: '';
    height: 14px;
    position:absolute;
    top: 1px;
    transform: translateX(14px);
    width: 14px;
}

.mwb-form-group__input input[type=checkbox]:after,
.mwb-form-group__input-rules input[type=checkbox]:after,
.mwb-global-availability-rule__heading input[type=checkbox]:after {
    background:#ffffff;
    border-radius: 50%;
    box-shadow: 0 7px 8px rgb(0 0 0 / 8%);
    content: '';
    height: 14px;
    left: 1px;
    position: absolute;
    top: 1px;
    transition: 0.2s linear all;
    width: 14px;
       
}

.mwb-form-group__input input[type=checkbox]:checked,
.mwb-form-group__input-rules input[type=checkbox]:checked,
.mwb-global-availability-rule__heading input[type=checkbox]:checked {
      background: #2196f3;
    
}

.mwb-form-group__input input[type=checkbox],
.mwb-form-group__input-rules input[type=checkbox],
.mwb-global-availability-rule__heading input[type=checkbox] {
    background:#b3b2b2;
    border:none;
}

.post-type-mwb_cpt_booking #TB_ajaxContent {
    
    height: unset!important;
}
.mwb_booking_added_cost_select_field .form-field .select2 {
    max-width: 250px;
    width: 100%;
}
.post-type-mwb_cpt_booking #post-body-content, .post-type-mwb_cpt_booking .edit-form-section {
    margin-bottom: 0;
}
.mwb_booking_cpt_actions .mwb_booking_cpt_status {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}
.mwb_booking_cpt_actions .mwb_booking_cpt_status label {
    flex: 0 0 100%;
    max-width: 30%;
}
.mwb_booking_cpt_actions .mwb_booking_cpt_status #mwb_booking_status_select {
    flex: 0 0 100%;
    max-width: 67%;
}
.mwb_booking_cpt_actions .mwb_booking_cpt_submit {
    text-align: right;
}
#mwb_availability_preferences .form-field.mwb-bookings__pro::after {
    height: 37px!important;
    visibility:visible!important;

}

#mwb_availability_preferences .form-field.mwb-bookings__pro::before {
    padding: 0px 4px;
    right: 1px;
    top: 1px;
}
.post-type-mwb_cpt_booking .mwb_booking_icons_tooltip {
    background: #333333;
    border-radius: 3px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 32% 80%, 44% 100%, 55% 80%, 0% 80%);
    color: #ffffff;
    opacity: 0;
    font-size: 13px;
    left: -41px;
    padding-bottom: 12px;
    position: absolute;
    text-align: center;
    top: -50px;
    width: 100%;
    z-index: 11;
    min-height: 55px;
    min-width: 145px;
    pointer-events: none;
}

.post-type-mwb_cpt_booking .manage-column {
    cursor: help;
    position: relative;
}
.post-type-mwb_cpt_booking .column-cost,.post-type-mwb_cpt_booking .column-unit_cost,.post-type-mwb_cpt_booking .column-base_cost {
    cursor: default;
}
.post-type-mwb_cpt_booking .manage-column:hover p.mwb_booking_icons_tooltip {
    align-items: center;
    justify-content: center;
    display: flex;
    top: -71px;
    transition: 0.5s ease all;
    opacity: 1;
}

#mwb_booking_added_cost_select_field select#mwb_booking_added_cost_select_search ~ .select2 {
    width: 250px !important;
}

.mwb_booking_refund {
    margin-top: 20px;
    text-align: right;
}

#mwb_booking_normal_cost_fields .form-field label {
    max-width: 100px;
    width: 100%;
}

#mwb_booking_normal_cost_fields .form-field input[type=number] {
    margin-right: 65px!important;
    max-width: 60px!important;
    width: 100%!important;
}

#mwb_booking_cost_data h3,#mwb_booking_availability_data h3,#mwb_enabled_people_type h3 {
    padding: 5px 10px;
}

.mwb_booking_details_wrap {
    border-radius: 15px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    display: flex;
    justify-content:center;
    padding: 40px 20px;
    flex-wrap: wrap;
}
.mwb_booking_order_data {
    flex: 0 0 100%;
    max-width: 50%;
    padding-right: 15px;
    padding-top: 30px;
}
.mwb_booking_order_data label {
    font-size: 16px;
    font-weight: 600;
}

.mwb_booking_order_data p {
    margin-bottom: 25px;
}
.mwb_booking_order_data p label {
    display: inline-block;
    max-width: 140px;
    width: 100%;
}

.mwb_booking_order_data_prod_img {
    max-width: calc(50% - 100px);
    flex: 0 0 100%;
}

.mwb_booking_order_data_prod_img  img {
    width: 100%;
}

#mwb_booking_ct_services_custom_fields .description ,.post-type-mwb_cpt_booking .term-extra-cost-wrap .description{
    color: #1d2327;
}
#mwb_availability_preferences input[type=number],#mwb_booking_people_data input[type=number] {
    max-width: 50px;
}
div#mwb_booking_cost_data a,#mwb_booking_services_data a,#mwb_booking_availability_data a,#mwb_booking_people_data a {
    color: #ffffff;
    text-decoration: none;
}
div#mwb_booking_cost_data button,#mwb_booking_services_data button,#mwb_booking_availability_data button,#mwb_booking_people_data button {
    border-radius: 30px;
    background: #2196f3;
    color: #fff;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 10px 15px;
}
/*===============================================
          **** Calendar CSS starts ****
================================================== */


.mwb_booking_confirmed {
    background-color: #a2e69d!important;
    /* color: #0e8a24; */
}
.mwb_booking_confirmed .fc-event-main {
    /* background-color: #a2e69d; */
    color: #0e8a24!important;
}

.mwb_booking_confirmation {
    background-color: #e6cc9d!important;
    /* color: #8a5e0e; */
}

.mwb_booking_confirmation .fc-event-main {
    /* background-color: #e6cc9d; */
    color: #8a5e0e!important;
}


.mwb_booking_expired {
    background-color: #e69d9d!important;
    /* color: #bd2222; */
}
.mwb_booking_expired .fc-event-main {
    /* background-color: #e69d9d; */
    color: #bd2222!important;
}

.mwb_booking_completed {
    background-color: #9ddfe6!important;
    /* color: #0e6d8a; */
}

.mwb_booking_completed .fc-event-main {
    /* background-color: #9ddfe6; */
    color: #0e6d8a!important;
}

.mwb_booking_pending {
    background-color: #d2d2d2!important;
    /* color: #737373; */
}
.mwb_booking_pending .fc-event-main {
    /* background-color: #d2d2d2; */
    color: #737373!important;
}

.mwb_booking_cancelled {
    background-color: #f7d5a8!important;
    /* color: #565656; */
}
.mwb_booking_cancelled .fc-event-main {
    /* background-color: #e98513; */
    color: #e98513!important;
}

.mwb_booking_refunded {
    background-color: #d2d2d2!important;
    /* color: #737373; */
}

.mwb_booking_refunded .fc-event-main{
    /* background-color: #d2d2d2; */
    color: #737373!important;
}


/*===============================================
          **** Calendar CSS ends ****
================================================== */



/*===============================================
         ******** Media Queries *******
================================================= */




@media only screen and ( max-width: 768px){
    .mwb-form-group__days .mwb-form-group__input {
        flex: 0 0 100%;
        max-width: 100px;
    }
  
    .mwb_booking_order_data p {
        margin-bottom: 25px;
    }
    
}

@media screen and (max-width: 782px) {
    input[type=checkbox]{
        height:1rem;
    }
    input[type=radio] {
        transform:scale(0.8);
    }
    .mwb-form-group__label {
        margin-bottom: 10px;
    }
   

}

@media only screen and (max-width:1260px){
    .mwb_booking_order_data_prod_img {
        max-width: 100%;
    }
    .mwb_booking_details_wrap {
        flex-direction: column-reverse;
    }
    .mwb_booking_order_data {
        max-width: 100%;
        padding-right: 15px;
        padding-top: 12px;
    
    }
    .mwb_booking_details_wrap {
        padding: 30px 15px;
    }
}
/*===============================================
         ******** Media Queries ends *******
================================================= */
